* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}


body {
    font-family: 'Montserrat', serif;
   

}

main { 
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: azure;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.quiz_cont {
    border-radius: 30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    height: 30rem;
    background-color: bisque;
    justify-content: space-around;
}

.quiz_det {
    width: 80%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.quiz_det h1 {
    font-size: 1.2;
}

.game {
    width: 80%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid darkgray;
    border-radius: 25px;
}    

.container {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgb(239, 59, 59);
    -webkit-animation: fadeIn 1.2s ease-in-out;
    animation: fadeIn 1.2s ease-in-out;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quiz_container {
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    height: 20rem;
    width: 25rem;
    background-color: rgb(194, 215, 232);
    display: flex;
    flex-direction: column;
    
}

.quiz_container h1 {
    font-size: 1.3rem;
    height: 3rem;
    color: rgb(225, 89, 89);
    text-align: center;
}


.quiz_det {
    align-items: center;
    display: center;
    justify-content: center;
    width: 80%;
    height: 4rem;
}


.game h1 {
    padding:3pm;
    text-align: center;
    font-size: 1.1rem;
}

.game_opt {
    display: flex;
    flex-wrap: wrap;
    height: 12rem;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.game_opt span {
    overflow: hidden;
    width: 45%;
    height: 3rem;
    border: 2px solid rgb(229, 13, 13);
    border-radius: 20px;
}

span label {
    color: rgb(31, 26, 26);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
    font-weight: 600;
    
}
span label:hover {
    transform: scale(1.12);
    color: aliceblue;
    -webkit-transform: scale(1.12);
    -ms-transform: scale(1.12);
} 

.info {
    width: 15rem;
    height: 10rem;
    align-items: center;    
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.info p {
    color: yellowgreen;
    text-align: center;
}

.btn {
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn button {
    width: 10rem;
    height: 2rem;
    background: none;
    outline: none;
    border: 1px solid rgb(252, 242, 241);
    color: rgb(220, 28, 102);
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 20px;
}

.btn button:hover {
    background-color: rgb(83, 82, 82);
}

.next_btn {
    width: 50%;
    height: 3rem;
    display: flex;
    justify-content: center;
}

.next_btn button {
    width: 8rem;
    height: 2rem;
    border-radius: 10px;
    background: none;
    color: rgb(25, 25, 25);
    font-weight: 600;
    border: 2px solid gray;
    cursor: pointer;
    outline: none;
}
.next-btn button:hover {
    background-color: rgb(143, 93, 93);
}

.info {
    flex-direction: column;
    width: 15rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info p {
    color:beige;
    text-align: center;
}

  


